      <section class="sidou-headline">
        <div class="sidou-item-number-label">指導した項目の番号</div>
        <div class="sidou-border-box"></div>
        <div class="sidou-example-text">例：左折前安全確認であれば①</div>
      </section>

      <section class="sidou-headline sidou-content-headline">
        <div class="sidou-item-number-label">指導内容</div>
        <div class="sidou-content-border-box">
          <div class="sidou-checkbox-text"><span class="checkbox-square">◻︎</span>回数、順位等の数値を伝えた　<span class="checkbox-square">◻︎</span>動画を見せた　<span class="checkbox-square">◻︎</span>地図を見せた</div>
        </div>
      </section>

      <section class="sidou-headline sidou-driver-response-headline">
        <div class="sidou-item-number-label">ドライバーの反応</div>
        <div class="sidou-example-text">例：「気を付ける」とコメント、あまり納得していない様子</div>
        <div class="sidou-content-border-box"></div>
      </section>